* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
 
  body {
    font-family: 'Roboto Condensed', sans-serif;
  }
 
 
  .container {
    display: flex;
    height: 100vh;
  }
 
 
  .left-side {
    width: 50%;
    background-image: url('https://s3-alpha-sig.figma.com/img/75e1/7922/d1d7abcc5d2d4b7ccac36a7248d61d8c?Expires=1745798400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=fDIZSqKGCMO8qLCqJCNo4mR9bTBbbVaFgREF53Pj8dEhsbQXgW6maFFENXn5SdtXabsHyGlQsUqAtnDf97d4A~0jRuauF4~Jhqh~Sk3RNEYBIs6GlByxmZDNN2oBCgLXQNM9PKGCBxvmLIyIKdAD4~oxhStwOo49wfWulYHEkbBGSJgwPw7ajAQkXeio-Ylt-m5ZCx-wSkGG3Dg68NM4pRg9Ug4hBJiYE-wL4jkGWTPkh65OH4PpmopjV-leLNUHH1Qu5go0Nl5XUuBhu803ntI-uHWBJhIv1nqSPosVNMmcbmJAPIEXeQ~f5B5o0CQWxZZ3gFCV924U0edi01f9zQ__');
    background-size: cover;
    background-position: center;
  }
 
 
  .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('https://s3-alpha-sig.figma.com/img/f854/05e3/74c0a1faeef26d484024e98882597fcc?Expires=1745798400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=S3OixnfrKGrHs3iMv7cjB-rZxjoKauHc4YTF0Ql3g3PrZAYD0gdzFggwBR8ac-LubLDCa1I57h5mlb13kwWtYBetBbHjET9MhHGjiIrHmKYmmVFkwNJoO6VsC2h81rQbOAFJ6mZHSz13aVPdYr1Z21DMeJydyaH2nQmVsdM29em0tRcy67QAM~BW1qGDGFuqSmoNbAm-kGaQAj7FZ4veNg-aLRXC2hR5zgkb6NaLNfUTNt~3E1e6PoLTjPEiGzmhioJxcC5pYtAXoLrx79ZvHWlUcikCg3bdRrgHxXQJrfb-Qv0frFtPFQJzLWjK0sRoD8uXwjDkDcaMpBXc~agxqg__');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
 
 
  .logo {
    width: 150px;
    margin-bottom: 40px;
  }
 
 
  .login-form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
  }
 
 
    .login-form label,
    .cadastro-text,
    .cadastro-text a {
    color: white;
   
    font-weight: 400;
}
 
 
  .login-form input {
    margin-bottom: 12px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 100%;
  }
 
 
  .login-form button {
    padding: 10px 15px;
    width: 100%;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 
 
  .login-form button:hover {
    background-color: #006ddf;
  }
 
 
  .cadastro-text {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
  }
 
 
  .cadastro-text a {
    color: #1e90ff;
    text-decoration: none;
  }
 
 
  .cadastro-text a:hover {
    text-decoration: underline;
  }
 
 
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
 
 
    .left-side, .right-side {
      width: 100%;
      height: 50vh;
    }
  }
 



